<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui" xmlns:jsp="http://xmlns.jcp.org/jsf/facelets"
>
<body>
<ui:composition>
    <h:form>

        <b:dataTable value="#{gite.listeGites}" var="gite">


            <b:dataTableColumn value="#{gite.nomGite}" label="Nom Gite"/>
            <b:dataTableColumn value="#{gite.adresse1}" label="Adresse 1"/>
            <b:dataTableColumn value="#{gite.libelleVoie}" label="Adresse" />
            <b:dataTableColumn value="#{gite.ville.nomVille}" label="Nom Ville"/>
        </b:dataTable>
    </h:form>


</ui:composition>
</body>
</html>


