<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>BootsFaces Basic Page</title>
</h:head>
<h:body>
<ui:insert name="commonlayout">
    <ui:include src="../template/common/commonLayout.xhtml"></ui:include>
</ui:insert>
</h:body>
</html>
